@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background: #efefef;
}
.notice-wrapper {
    margin: 30px 0;
}
.notice-wrapper .table-list {
    padding: 15px;
    min-height: 300px;
    background: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0,0,0,.1);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.1);
}
.notice-wrapper .table-list {
    z-index: 1;
    margin-top: 1px;
    padding: 15px 20px;
    position: relative;
}
.notice-wrapper .table-list .list {
    border-top: 1px solid #333;
    list-style: none;
    position: relative;
    margin: 0 0 30px;
    padding: 0;
}
.notice-wrapper .table-list .list .dep1 {
    position: relative;
    min-height: 70px;
    border-bottom: 1px solid #e2e2e6;
    transition: all 0.3s;
    zoom: 1;
}
.notice-wrapper .table-list .list .dep1:hover,
.notice-wrapper .table-list .list .dep1.on {
    background: #fbfbfb;
}
.notice-wrapper .table-list .list .dep1 .leftInfo {
    float: left;
    width: 120px;
    line-height: 70px;
    font-size: 18px;
    color: #232323;
    vertical-align: middle;
}
.notice-wrapper .table-list .list .dep1 .leftInfo .sort {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-weight: 400;
}
.notice-wrapper .table-list .list .dep1 .titInfo {
    position: relative;
    padding: 23px 0 0 30px;
}
.notice-wrapper .table-list .list .dep1 .tit a {
    display: inline-block;
    color: #636363;
    font-size: 18px;
    line-height: normal;
    max-width: 810px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.notice-wrapper .table-list .list .dep1 .tit .ico {
    margin: 0 0 0 5px;
    vertical-align: -7px;
}
.notice-wrapper .table-list .list .dep1 .etc {
    position: absolute;
    right: 0px;
    top: 23px;
    font-size: 15px;
    font-weight: 300;
    color: #999999;
}
.notice-wrapper .table-list .list .dep1 .etc li {
    margin-right: 15px;
    float: left;
    border-bottom: 0;
}
.notice-wrapper .table-list .list .dep1 .etc li span {
    padding: 0 1px;
    display: inline-block;
}
.notice-wrapper .table-list .list .dep1 .etc li .ico {
    vertical-align: 1px;
}
.notice-wrapper .table-list li .not_table {
    width: 150px;
    margin: 0 auto;
    padding: 50px 0;
}
.notice-wrapper .table-paging {
    display: block;
    padding: 30px 0;
    position: relative;
    width: 100%;
    text-align: center;
}
.notice-wrapper .table-paging .position-right {
    position: absolute;
    right: 15px;
    top: 0px;
}
.notice-wrapper .table-paging ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    display: inline-block;
}
.notice-wrapper .table-paging li {
    margin: 0 10px;
    float: left;
}
.notice-wrapper .table-paging li a {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    color: #9b9b9b;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 300;
    background: none;
    transition: all 0.3s;
    text-decoration: none;
}
.notice-wrapper .table-paging li.on a,
.notice-wrapper .table-paging li a:hover {
    color: #fff;
    background: #303030;
}
.notice-wrapper .table-paging .dir {
    display: inline-block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}
.notice-wrapper .table-paging .dir:after {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}
.notice-wrapper .table-paging .dir:hover:after {
    opacity: 1;
}
.notice-wrapper .table-paging .first {
    margin-right: 4px;
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_first_default.png) no-repeat;
}
.notice-wrapper .table-paging .first:after {
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_first_over.png) no-repeat;
}
.notice-wrapper .table-paging .prev {
    width: 60px;
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_prev_default.png) no-repeat;
}
.notice-wrapper .table-paging .prev:after {
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_prev_over.png) no-repeat;
}
.notice-wrapper .table-paging .next {
    margin-right: 4px;
    width: 60px;
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_next_default.png) no-repeat;
}
.notice-wrapper .table-paging .next:after {
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_next_over.png) no-repeat;
}
.notice-wrapper .table-paging .last {
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_last_default.png) no-repeat;
}
.notice-wrapper .table-paging .last:after {
    background: url(https://ssl.nexon.com/s2/game/closers/site_renewal2020/common/btn/btn_last_over.png) no-repeat;
}