<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.ReplyDAO">

	<insert id="insertReply" parameterType="reply">
		INSERT INTO reply (
						   rno
						  ,bno
						  ,replyer
						  ,replytext
						  ,regdate
						  )
			VALUES (
					reply_seq.nextVal
				   ,#{bno}
				   ,#{replyer}
				   ,#{replytext}
				   ,SYSDATE
				   )
	</insert>
	
	<select id="selectPageReplyList" resultType="reply">
		SELECT *
		  FROM reply
		 WHERE bno = #{bno}
		 ORDER BY rno ASC
	</select>
	
	<select id="countReply" resultType="int">
		SELECT COUNT(*)
		  FROM reply
		 WHERE bno = #{bno}
	</select>
	
	<update id="updateReply" parameterType="reply">
		UPDATE reply
		   SET replytext	 = #{replytext}
		      ,updatedate 	 = SYSDATE
		 WHERE rno 			 = #{rno}
	</update>
	
	<delete id="deleteReply">
		DELETE FROM reply WHERE rno = #{rno}
	</delete>
	
</mapper>